<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dental Code</title>
  </head>
  <link rel="stylesheet" href="../static/css/style.css" />
  <style></style>

  <body>
    <header>
      <div class="header_top">
        This website has been designed to support the dental education and
        provide a community platform for students to connect with fellow
        students and professionals in the field.
      </div>
      <div class="header">
        <div class="header-left">
          <img src="/static/img/logo.gif" alt="" class="logo-img" />
          <div class="logo-text">Dental Code</div>
        </div>
        <div class="navbar">
          <ul>
            <li><a href="/1/">Trial Home</a></li>
            <li><a href="/1/subjects">Subjects</a></li>
            <li><a href="/1/community">Community</a></li>
            <li><a href="/1/about">About</a></li>
          </ul>
        </div>
        <div class="header-right">
          <img src="/static/img/user-logo.png" alt="" class="user-logo" />
          <button class="login-btn">Log in</button>
          <button class="signup-btn">Sign up</button>
        </div>
      </div>
    </header>
    <content>
      <div class="content_upper">
        <h1>Empowering Dental Education</h1>
        <h3>
          The Ultimate Destination for Dental Students and Professionals
          <br /><br /><br /><br />
        </h3>
        <h4>
          Attention dentists! Don't wait any longer, become a part of our
          quickly expanding community today.
        </h4>
      </div>
      <div class="content_upper_img">
        <img src="/static/img/content3.jpg" alt="" />
      </div>
      <div class="content_middle"></div>
    </content>
    <footer class="footer">
      <div class="footer-main">
        <div class="bottom-left">
          <img src="/static/img/logo.gif" alt="" class="logo-img" />
          <h4>Address</h4>
          <div class="address">Pitampura, Rohini, Delhi, India-110016</div>
        </div>
        <div class="bottom-mid">
          <h4>Important Links</h4>
          <ul>
            <li><a href="/">Subjects</a></li>
            <li><a href="/">Fast-revision</a></li>
            <li><a href="/">Resources</a></li>
            <li><a href="/">Our Company</a></li>
          </ul>
        </div>
        <div class="bottom-right">
          <div class="contact">
            <h4>Contact Us</h4>
          </div>
          <div class="email">
            <img src="/static/img/gmail-logo.png" alt="" class="gmail-logo" />
            <div>
              <a href="letsunderstandconcepts@gmail.com"
                >letsunderstandconcepts@gmail.com</a
              >
            </div>
          </div>
          <div class="social">
            <h4>Social</h4>
          </div>
          <div class="youtube">
            <img
              src="/static/img/youtube-logo.png"
              alt=""
              class="youtube-logo"
            />
            <div>
              <a href="channel.link">Lets Understand Concepts YT Channel</a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-end">
        <h4>copyright © DentalCode.com | All Rights Reserved 2023</h4>
      </div>
    </footer>
  </body>
</html>
