<style>
  .table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0% 10%;
    box-shadow: 1px 7px 18px rgb(0 0 0 / 20%);
  }
  .chapter-table {
    border-collapse: collapse;
    margin: 10px;
  }
  td {
    color: green;
    padding: 10px;
    white-space: normal;
    width: 50%;
  }

  .chapter-table .column-1 {
    border-right: 2px solid black;
  }

  .header-row {
    border-bottom: 2px solid black;
    color: black;
    font-size: large;
  }

  .header-row .column-1 {
    border-right: 2px solid black;
  }
  hl {
    color: crimson;
    font-weight: bold;
  }
</style>

<div class="table">
  <table class="chapter-table">
    <tr class="header-row">
      <th class="column-1">Column 1</th>
      <th>Column 2</th>
    </tr>
    <tr>
      <td class="column-1">Lorem</td>
      <td>Lorem <hl>dolor</hl> ipsum</td>
    </tr>
    <tr>
      <td class="column-1">Lorem</td>

      <td>Lorem ip.</td>
    </tr>
    <tr>
      <td class="column-1">Row 3, Cell 1</td>
      <td>Lorem i.</td>
    </tr>
    <tr>
      <td class="column-1">Row 4, Cell 1</td>
      <td>Lorem ips</td>
    </tr>
    <tr>
      <td class="column-1">Row 5, Cell 1</td>
      <td>Row 5, Cell 2</td>
    </tr>
  </table>
</div>

<ol class="complex-list">
  <li><hl>test</hl></li>
  <li><hl>test</hl></li>
  <ul>
    <li>testing</li>
    <li>testing</li>
  </ul>
</ol>

<ol class="simple-list">
  <li><hl>test</hl></li>
  <li><hl>test</hl></li>
</ol>

<h2>Some Concepts Of Growth</h2>
<ol class="complex-list">
  <li><hl>Concept of Normailty</hl></li>
  <ul>
    <li>Normal refers to which is usually expected / ordinary / typical.</li>
    <li>Craniofacial growth changes with Age.</li>
    <li>
      Thus, what is normally seen in one age group
      <hl>may be not be necessarily normal</hl> for different age group.
    </li>
  </ul>
  <li><hl>Rhythm of Growth</hl>: According to Hooton</li>
  <p>
    Growth is not steady & uniform, wherein all body parts enlarge at same rate,
    & increment of 1 year equal to proceeding or succeding year.
  </p>
  <li><hl>GROWTH SPURTS</hl></li>
  <p>
    Period when sudden acceleration of Growth. This sudden increase in growth,
    termed 'Growth Spurt'
  </p>
  <p>
    <hl>Cause of accentuated growth : </hl>Physiological alteration in hormonal
    secretion.
  </p>
  <h3>Timing Of Growth Spurts</h3>
  <ol>
    <li>Just before birth</li>
    <li>1 year after birth</li>
    <li><hl>Mixed Dentition growth spurt</hl></li>
    <ul>
      <li><hl>Boys : </hl>8 - 11 years</li>
      <li><hl>Girls : </hl>7 - 9 years</li>
    </ul>
    <li><hl>Pre Pubertal growth spurt</hl></li>
    <ul>
      <li><hl>Boys : </hl>14 - 16 years</li>
      <li><hl>Girls : </hl>11 - 13 years</li>
    </ul>
  </ol>
  <p>
    <hl>Growth modification by Myofunctional appliance</hl> gives better results
    during growth phase.
  </p>
  <p><hl>Surgical Correction : </hl>done only after Cessation of Growth.</p>

  <li>
    <hl>Differential Growth</hl>
    <p>
      Human body doesn't grow at Same Rate Throughout Life. <br />Different organs grow at different rate, to different amount, at different times.
    </p>
    <ol>
      <li><hl>Scammon's Growth Curve</hl></li>
      <li><hl>Cephalo caudal Gradient of Growth</hl></li>
    </ol>
  </li>
</ol>
<h3>Scammon's Growth Curve</h3>
<p>Body tissues broadly classified into 4 types:</p>
<div class="list-div"> 
  <ul>
    <li><hl>Lymphoid Tissues : </hl>grows rapidly in Late childhood & reaches almost 200 % of adult size. <br>This is adaption to infection in children
    as they are more prone. <br>But, till 18 years age, it involutes to reach adult size.</li>
    <li><hl>Neural Tissue : </hl>Very rapidly & reaches adult size by 6 - 7 years age. Very little growth occur after it. <br>This facilitates intake of further knowledge.</li>
    <li><hl>General Tissues or Visceral Tissues : </hl>Bone, Muscle & other organs. <br>S- Shaped Curve : Rapid growth upto 2 - 3 years, <br>followed by Slow Phase between 3 - 10 years. <br>After 10th year Rapid Phase terminating by 18 - 20 years age.</li>
    <li><hl>Genital Tissues : </hl>Negligible growth until puberty, Rapid growth at puberty.</li>
  </ul>
  <img src="../static/img/orthodontics/growth-development/scammonscurve.webp" alt="scammon's-curve">
</div> 
  <h3>Cephalo caudal Gradient of Growth</h3>
<div class="list">
  <ul>
    <li>Axis of increasing growth extending from Head towards Feet.</li>
    <li>Post Natal growth is more in body parts away from <hl>Hypophysis Cerebri.</hl></li>
    <li>
      <hl>3 Months I.U.L. :</hl>
      <ul>
      <li>Head = 50 %</li>
      <li>Lower limbs = Rudimentry</li>
    </ul>
      <hl>BIRTH :</hl>
      <ul>
      <li>Head = 30 %</li>
    </ul>
      <hl>ADULT :</hl>
      <ul>
      <li>Head = 12 %</li>
      <li>Lower limbs = 50 %</li>
    </ul>
    </li>
  </ul>
  <img src="../static/img/orthodontics/growth-development/scammonscurve.webp" alt="scammon's-curve">

</div>  