@import url(https://themes.googleusercontent.com/fonts/css?kit=OPeqXG-QxW3ZD8BtmPikfA);
.privacy-policy .lst-kix_bu6uzxtsylzb-6 > li:before {
  content: "\0025cf ";
}
.privacy-policy .lst-kix_bu6uzxtsylzb-5 > li:before {
  content: "\0025a0 ";
}
.privacy-policy .lst-kix_bu6uzxtsylzb-7 > li:before {
  content: "\0025cb ";
}
.privacy-policy .lst-kix_bu6uzxtsylzb-4 > li:before {
  content: "\0025cb ";
}
.privacy-policy .lst-kix_bu6uzxtsylzb-8 > li:before {
  content: "\0025a0 ";
}
.privacy-policy ul.lst-kix_bu6uzxtsylzb-7 {
  list-style-type: none;
}
.privacy-policy ul.lst-kix_bu6uzxtsylzb-8 {
  list-style-type: none;
}
.privacy-policy .lst-kix_bu6uzxtsylzb-2 > li:before {
  content: "\0025a0 ";
}
.privacy-policy .lst-kix_bu6uzxtsylzb-1 > li:before {
  content: "\0025cb ";
}
.privacy-policy .lst-kix_bu6uzxtsylzb-3 > li:before {
  content: "\0025cf ";
}
.privacy-policy li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}
.privacy-policy .lst-kix_bu6uzxtsylzb-0 > li:before {
  content: "\0025cf   ";
}
.privacy-policy ul.lst-kix_bu6uzxtsylzb-5 {
  list-style-type: none;
}
.privacy-policy ul.lst-kix_bu6uzxtsylzb-6 {
  list-style-type: none;
}
.privacy-policy ul.lst-kix_bu6uzxtsylzb-3 {
  list-style-type: none;
}
.privacy-policy ul.lst-kix_bu6uzxtsylzb-4 {
  list-style-type: none;
}
.privacy-policy ul.lst-kix_bu6uzxtsylzb-1 {
  list-style-type: none;
}
.privacy-policy ul.lst-kix_bu6uzxtsylzb-2 {
  list-style-type: none;
}
.privacy-policy ul.lst-kix_bu6uzxtsylzb-0 {
  list-style-type: none;
}
.privacy-policy ol {
  margin: 0;
  padding: 0;
}
.privacy-policy table td,
.privacy-policy table th {
  padding: 0;
}
.privacy-policy .c3 {
  -webkit-text-decoration-skip: none;
  color: #000000;
  font-weight: 700;
  text-decoration: underline;
  vertical-align: baseline;
  text-decoration-skip-ink: none;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}
.privacy-policy .c0 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt;
}
.privacy-policy .c5 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}
.privacy-policy .c6 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Arial";
  font-style: normal;
}
.privacy-policy .c1 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Arial";
  font-style: normal;
}
.privacy-policy .c4 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: center;
}
.privacy-policy .c2 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.privacy-policy .c12 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  text-decoration: underline;
}
.privacy-policy .c11 {
  background-color: #ffffff;
  font-family: "Roboto";
  font-weight: 400;
}
.privacy-policy {
  background-color: #ffffff;
  max-width: 78rem;
  margin: auto;
  padding: 6% 8%;
}
.privacy-policy .c9 {
  margin-left: 36pt;
  padding-left: 0pt;
}
.privacy-policy .c7 {
  color: inherit;
  text-decoration: inherit;
}
.privacy-policy .c13 {
  padding: 0;
  margin: 0;
}
.privacy-policy .c14 {
  color: #1155cc;
}
.privacy-policy .c10 {
  font-weight: 700;
}
.privacy-policy .c15 {
  background-color: #ffffff;
}
.privacy-policy .title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.privacy-policy .subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.privacy-policy li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
.privacy-policy p {
  margin: 0;
  color: #000000;
  font-size: 10pt;
  font-family: "Arial";
}
.privacy-policy h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.privacy-policy h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.privacy-policy h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.privacy-policy h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.privacy-policy h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.privacy-policy h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}
