.terms-of-service ol.lst-kix_tcwszfpp9ad5-5.start {
  counter-reset: lst-ctn-kix_tcwszfpp9ad5-5 0;
}
.terms-of-service .lst-kix_tcwszfpp9ad5-7 > li:before {
  content: "" counter(lst-ctn-kix_tcwszfpp9ad5-7, lower-roman) ". ";
}
.terms-of-service .lst-kix_tcwszfpp9ad5-0 > li {
  counter-increment: lst-ctn-kix_tcwszfpp9ad5-0;
}
.terms-of-service ol.lst-kix_tcwszfpp9ad5-3 {
  list-style-type: none;
}
.terms-of-service ol.lst-kix_tcwszfpp9ad5-4 {
  list-style-type: none;
}
.terms-of-service ol.lst-kix_tcwszfpp9ad5-5 {
  list-style-type: none;
}
.terms-of-service ol.lst-kix_tcwszfpp9ad5-6 {
  list-style-type: none;
}
.terms-of-service .lst-kix_tcwszfpp9ad5-8 > li:before {
  content: "" counter(lst-ctn-kix_tcwszfpp9ad5-8, decimal) ". ";
}
.terms-of-service ol.lst-kix_tcwszfpp9ad5-0 {
  list-style-type: none;
}
.terms-of-service ol.lst-kix_tcwszfpp9ad5-1 {
  list-style-type: none;
}
.terms-of-service ol.lst-kix_tcwszfpp9ad5-2 {
  list-style-type: none;
}
.terms-of-service ul.lst-kix_zanxb8j5wgql-2 {
  list-style-type: none;
}
.terms-of-service ul.lst-kix_zanxb8j5wgql-3 {
  list-style-type: none;
}
.terms-of-service ul.lst-kix_zanxb8j5wgql-0 {
  list-style-type: none;
}
.terms-of-service ul.lst-kix_zanxb8j5wgql-1 {
  list-style-type: none;
}
.terms-of-service ol.lst-kix_tcwszfpp9ad5-7 {
  list-style-type: none;
}
.terms-of-service ol.lst-kix_tcwszfpp9ad5-8 {
  list-style-type: none;
}
.terms-of-service ol.lst-kix_tcwszfpp9ad5-1.start {
  counter-reset: lst-ctn-kix_tcwszfpp9ad5-1 0;
}
.terms-of-service .lst-kix_tcwszfpp9ad5-6 > li {
  counter-increment: lst-ctn-kix_tcwszfpp9ad5-6;
}
.terms-of-service .lst-kix_tcwszfpp9ad5-8 > li {
  counter-increment: lst-ctn-kix_tcwszfpp9ad5-8;
}
.terms-of-service ul.lst-kix_zanxb8j5wgql-8 {
  list-style-type: none;
}
.terms-of-service .lst-kix_tcwszfpp9ad5-2 > li {
  counter-increment: lst-ctn-kix_tcwszfpp9ad5-2;
}
.terms-of-service ul.lst-kix_zanxb8j5wgql-6 {
  list-style-type: none;
}
.terms-of-service .lst-kix_tcwszfpp9ad5-5 > li {
  counter-increment: lst-ctn-kix_tcwszfpp9ad5-5;
}
.terms-of-service ul.lst-kix_zanxb8j5wgql-7 {
  list-style-type: none;
}
.terms-of-service ul.lst-kix_zanxb8j5wgql-4 {
  list-style-type: none;
}
.terms-of-service ul.lst-kix_zanxb8j5wgql-5 {
  list-style-type: none;
}
.terms-of-service ol.lst-kix_tcwszfpp9ad5-2.start {
  counter-reset: lst-ctn-kix_tcwszfpp9ad5-2 0;
}
.terms-of-service ol.lst-kix_tcwszfpp9ad5-8.start {
  counter-reset: lst-ctn-kix_tcwszfpp9ad5-8 0;
}
.terms-of-service .lst-kix_tcwszfpp9ad5-3 > li {
  counter-increment: lst-ctn-kix_tcwszfpp9ad5-3;
}
.terms-of-service ol.lst-kix_tcwszfpp9ad5-7.start {
  counter-reset: lst-ctn-kix_tcwszfpp9ad5-7 0;
}
.terms-of-service .lst-kix_zanxb8j5wgql-4 > li:before {
  content: "\0025cb   ";
}
.terms-of-service .lst-kix_zanxb8j5wgql-5 > li:before {
  content: "\0025a0   ";
}
.terms-of-service .lst-kix_zanxb8j5wgql-6 > li:before {
  content: "\0025cf   ";
}
.terms-of-service .lst-kix_zanxb8j5wgql-8 > li:before {
  content: "\0025a0   ";
}
.terms-of-service ol.lst-kix_tcwszfpp9ad5-4.start {
  counter-reset: lst-ctn-kix_tcwszfpp9ad5-4 0;
}
.terms-of-service .lst-kix_zanxb8j5wgql-7 > li:before {
  content: "\0025cb   ";
}
.terms-of-service ol.lst-kix_tcwszfpp9ad5-6.start {
  counter-reset: lst-ctn-kix_tcwszfpp9ad5-6 0;
}
.terms-of-service .lst-kix_tcwszfpp9ad5-0 > li:before {
  content: "" counter(lst-ctn-kix_tcwszfpp9ad5-0, lower-latin) ") ";
}
.terms-of-service .lst-kix_zanxb8j5wgql-3 > li:before {
  content: "\0025cf   ";
}
.terms-of-service li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}
.terms-of-service .lst-kix_tcwszfpp9ad5-1 > li:before {
  content: "" counter(lst-ctn-kix_tcwszfpp9ad5-1, lower-roman) ") ";
}
.terms-of-service .lst-kix_tcwszfpp9ad5-4 > li {
  counter-increment: lst-ctn-kix_tcwszfpp9ad5-4;
}
.terms-of-service .lst-kix_tcwszfpp9ad5-7 > li {
  counter-increment: lst-ctn-kix_tcwszfpp9ad5-7;
}
.terms-of-service .lst-kix_tcwszfpp9ad5-2 > li:before {
  content: "" counter(lst-ctn-kix_tcwszfpp9ad5-2, decimal) ") ";
}
.terms-of-service .lst-kix_tcwszfpp9ad5-4 > li:before {
  content: "(" counter(lst-ctn-kix_tcwszfpp9ad5-4, lower-roman) ") ";
}
.terms-of-service ol.lst-kix_tcwszfpp9ad5-3.start {
  counter-reset: lst-ctn-kix_tcwszfpp9ad5-3 0;
}
.terms-of-service .lst-kix_zanxb8j5wgql-2 > li:before {
  content: "\0025a0   ";
}
.terms-of-service .lst-kix_tcwszfpp9ad5-3 > li:before {
  content: "(" counter(lst-ctn-kix_tcwszfpp9ad5-3, lower-latin) ") ";
}
.terms-of-service .lst-kix_zanxb8j5wgql-1 > li:before {
  content: "\0025cb   ";
}
.terms-of-service .lst-kix_tcwszfpp9ad5-6 > li:before {
  content: "" counter(lst-ctn-kix_tcwszfpp9ad5-6, lower-latin) ". ";
}
.terms-of-service ol.lst-kix_tcwszfpp9ad5-0.start {
  counter-reset: lst-ctn-kix_tcwszfpp9ad5-0 0;
}
.terms-of-service .lst-kix_tcwszfpp9ad5-1 > li {
  counter-increment: lst-ctn-kix_tcwszfpp9ad5-1;
}
.terms-of-service .lst-kix_zanxb8j5wgql-0 > li:before {
  content: "\0025cf   ";
}
.terms-of-service .lst-kix_tcwszfpp9ad5-5 > li:before {
  content: "(" counter(lst-ctn-kix_tcwszfpp9ad5-5, decimal) ") ";
}
.terms-of-service ol {
  margin: 0;
  padding: 0;
}
.terms-of-service table td,
.terms-of-service table th {
  padding: 0;
}
.terms-of-service .c11 {
  -webkit-text-decoration-skip: none;
  color: #000000;
  font-weight: 700;
  text-decoration: underline;
  vertical-align: baseline;
  text-decoration-skip-ink: none;
  font-size: 14pt;
  font-family: "Arial";
  font-style: normal;
}
.terms-of-service .c4 {
  background-color: #ffffff;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Arial";
  font-style: normal;
}
.terms-of-service .c7 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Arial";
  font-style: normal;
}
.terms-of-service .c18 {
  margin-left: 36pt;
  padding-top: 2pt;
  padding-bottom: 2pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify;
}
.terms-of-service .c14 {
  -webkit-text-decoration-skip: none;
  color: #000000;
  text-decoration: underline;
  vertical-align: baseline;
  text-decoration-skip-ink: none;
  font-family: "Arial";
  font-style: normal;
}
.terms-of-service .c0 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify;
}
.terms-of-service .c1 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.terms-of-service .c2 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify;
}
.terms-of-service .c20 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1500022727272727;
  orphans: 2;
  widows: 2;
  text-align: center;
}
.terms-of-service .c26 {
  padding-top: 5pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify;
}
.terms-of-service .c6 {
  padding-top: 0pt;
  padding-bottom: 10pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify;
}
.terms-of-service .c33 {
  padding-top: 2pt;
  padding-bottom: 2pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify;
}
.terms-of-service .c28 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}
.terms-of-service .c17 {
  padding-top: 2pt;
  padding-bottom: 2pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.terms-of-service .c29 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: normal;
}
.terms-of-service .c22 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: italic;
}
.terms-of-service .c24 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  text-decoration: underline;
}
.terms-of-service .c9 {
  font-size: 7pt;
  font-family: "Times New Roman";
  font-weight: 400;
}
.terms-of-service .c30 {
  font-weight: 700;
  font-size: 11pt;
}
.terms-of-service .c3 {
  margin-left: 60pt;
  padding-left: 0pt;
}
.terms-of-service .c15 {
  color: inherit;
  text-decoration: inherit;
}
.terms-of-service .c23 {
  margin-left: 36pt;
  padding-left: 0pt;
}
.terms-of-service .c19 {
  padding: 0;
  margin: 0;
}
.terms-of-service {
  max-width: 78rem;
  margin: auto;
  padding: 6% 8%;
}
.terms-of-service .c5 {
  font-size: 10pt;
  font-weight: 700;
}
.terms-of-service .c16 {
  font-weight: 400;
}
.terms-of-service .c8 {
  font-size: 10pt;
}
.terms-of-service .c13 {
  height: 11pt;
}
.terms-of-service .c10 {
  background-color: #ffffff;
}
.terms-of-service .c12 {
  background-color: #f4cccc;
}
.terms-of-service .c27 {
  font-style: italic;
}
.terms-of-service .c21 {
  color: #0000ff;
}
.terms-of-service .c25 {
  color: #1155cc;
}
.terms-of-service .c32 {
  margin-left: 18pt;
}
.terms-of-service .title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.terms-of-service .subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.terms-of-service li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
.terms-of-service p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
.terms-of-service h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.terms-of-service h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.terms-of-service h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.terms-of-service h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.terms-of-service h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.terms-of-service h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}
